@using Tripsters.Services.Data.Trips.Models

@model TripServiceModel

@{
    ViewData["Title"] = "Trip";
}

<h1>@ViewData["Title"]</h1>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Trips" asp-action="Details" asp-route-tripId="@Model.Id">Trip info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-controller="Trips" asp-action="Creator" asp-route-creatorId="@Model.CreatorId" asp-route-userId="@Model.CurrentUserId" asp-route-currTripId="@Model.Id">Creator info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Trips" asp-action="Members" asp-route-tripId="@Model.Id">Members (@Model.Members.Count)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-controller="Trips" asp-action="Comment" asp-route-tripId="@Model.Id">Comments</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <h5 class="card-text">We go on: @Model.StartDate</h5>
        <h5 class="card-text">From: @Model.From</h5>
        <h5 class="card-text">To: @Model.To</h5>
        <h5 class="card-text">We have: @Model.AvailableSeats seats left</h5>
        <p class="card-text">@Model.Description</p>
        @if (Model.CreatorName != User.Identity.Name && ViewBag.IsAvailableSeats && (Model.Members.Count == 0 || Model.Members.Any(u => u.UserName != User.Identity.Name)))
        {
            <a asp-controller="Trips" asp-action="Join" asp-route-tripId="@Model.Id" asp-route-userId="@Model.CurrentUserId" class="btn btn-primary">Join</a>
        }
    </div>
</div>