@using Tripsters.Services.Data.Trips.Models

@model TripServiceModel

@{
    ViewData["Title"] = "Trip";
}

<h1>@ViewData["Title"]</h1>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link " asp-controller="Trips" asp-action="Details" asp-route-tripId="@Model.Id">Trip info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-controller="Trips" asp-action="Creator" asp-route-creatorId="@Model.CreatorId" asp-route-userId="@Model.CurrentUserId" asp-route-currTripId="@Model.Id">Creator info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Trips" asp-action="Members" asp-route-tripId="@Model.Id">Members (@Model.Members.Count)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-controller="Trips" asp-action="Comment" asp-route-tripId="@Model.Id">Comments</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <ul>
            @foreach (var member in Model.Members)
            {
                <li>
                    <h3 class="card-title">@member.UserName</h3>
                    <h5 class="card-text">Age: @member.Age</h5>
                    <h5 class="card-text">Badges: @string.Join(",", member.Badges)</h5>
                </li>
            }
        </ul>
    </div>
</div>