@using Tripsters.Web.ViewModels.Trips

@model TripsListingModel

@{
    ViewData["Title"] = "Past trip";
}

<h1>@ViewData["Title"]</h1>


<div class="container>
    @foreach (var trip in Model.Trips)
    {
        <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@trip.Name</h5>
                <p class="card-text">@trip.FromTown</p>
                <p class="card-text">@trip.ToTown</p>
                @foreach (var member in trip.Members)
                {
                    <p class="card-text">@member.UserName</p>
                    <p class="card-text">@member.Age</p>
                    <p class="card-text">@member.HomeTown</p>
                    <p class="card-text">@String.Join(", ", member.Badges)</p>
                }
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    }
</div>