@using Tripsters.Web.ViewModels.Trips

@model TripsListingModel

@{
    ViewData["Title"] = "Past trip";
}

<h1>@ViewData["Title"]</h1>

<partial name="_MyTripsMenuPartial" />

@foreach (var trip in Model.Trips)
{
    <div class="card row-cols-4">
        <div class="card-body">
            <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title">@trip.Name</h5>
            <p class="card-text">@trip.FromTown</p>
            <p class="card-text">@trip.ToTown</p>
            @foreach (var member in trip.Members)
            {
                <p class="card-text">@member.UserName</p>
                <p class="card-text">@member.Age</p>
                <p class="card-text">@member.HomeTown</p>
                <p class="card-text">@String.Join(", ", member.Badges)</p>
            }
        </div>
        <div>
            <a href="/Trips/Like?tripId=@trip.Id" class="btn btn-primary">👍 @trip.Likes Likes</a>
            <a href="/Trips/Comment?tripId=@trip.Id" class="btn btn-primary">Comment (@trip.Comments.Count)</a>
        </div>
    </div>
}
