@using Tripsters.Web.ViewModels.Trips

@model TripsListingModel

@{
    ViewData["Title"] = "Past trip";
}

<h1>@ViewData["Title"]</h1>

<partial name="_MyTripsMenuPartial" />

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var trip in Model.Trips)
    {
        <div class="col mt-4">
            <div class="card">
                <img src="https://img.freepik.com/free-vector/road-trip-summer-vacation-holidays-travel-by-car_107791-2152.jpg?size=626&ext=jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">@trip.Name</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Creator:
                            <a asp-controller="Users" asp-action="Profile" asp-route-userId="@trip.CreatorId" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="View Profile">
                                @trip.CreatorName
                            </a>
                            @if (this.User.Identity.Name != trip.CreatorName)
                            {
                                <form asp-controller="Users" asp-action="AddBadge" method="post">
                                    <label asp-for="Badges"></label>
                                    <select name="badgeId" class="form-control">
                                        @foreach (var badge in Model.Badges)
                                        {
                                            <option value="@badge.Id">@badge.Name</option>
                                        }
                                    </select>
                                    <select name="userId" class="form-control" hidden>
                                        <option value="@trip.CreatorId"></option>
                                    </select>
                                    <button class="btn btn-outline-dark" type="submit">Add</button>
                                </form>
                            }
                        </li>
                        <li class="list-group-item">From: @trip.From</li>
                        <li class="list-group-item">To: @trip.To</li>
                        <li class="list-group ml-4"> Members: </li>
                        @foreach (var member in trip.Members)
                        {
                            <li class="list-group-item">
                                <a asp-controller="Users" asp-action="Profile" asp-route-userId="@member.Id" data-toggle="tooltip" data-placement="top" title="View Profile">
                                    @member.UserName
                                </a>
                            </li>
                        }
                    </ul>
                    <div>
                        <a href="/Trips/Like?tripId=@trip.Id" class="btn btn-primary mt-5">👍 @trip.Likes Likes</a>
                        <a href="/Trips/Comment?tripId=@trip.Id" class="btn btn-primary mt-5">Comment (@trip.Comments.Count)</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalTrips / Model.TripsPerPage);
}

@if (Model.TotalTrips > Model.TripsPerPage)
{
    <div class="row mt-5">
        <div class="col-md-6">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" asp-controller="Trips" asp-action="Past" asp-route-currentPage=@previousPage>&lt;&lt;</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary float-right @(Model.CurrentPage >= maxPage ? "disabled" : string.Empty)" asp-controller="Trips" asp-action="Past" asp-route-currentPage=@(Model.CurrentPage + 1)>&gt;&gt;</a>
        </div>
    </div>
}
