@using Tripsters.Web.ViewModels.Trips

@model TripsUpcomingListingViewModel

@{
    ViewData["Title"] = "Upcoming trip";
}

<h1>@ViewData["Title"]</h1>

<partial name="_MyTripsMenuPartial" />

<div class="container">
    <div class="row">
        <div class="col-sm alert-danger">
            Today
            <div class="container">
                @foreach (var trip in Model.TodayTrips)
                {
                    <div class="col mt-4 mb-4">
                        <div class="card">
                            <img src="https://img.freepik.com/free-vector/road-trip-summer-vacation-holidays-travel-by-car_107791-2152.jpg?size=626&ext=jpg" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h5 class="card-title">@trip.Name</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">From: @trip.From</li>
                                    <li class="list-group-item">To: @trip.To</li>
                                    <li class="list-group-item">Seats: @trip.AvailableSeats</li>
                                </ul>
                                <a asp-controller="Trips" asp-action="Details" asp-route-tripId="@trip.Id" class="btn btn-primary">Info</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm alert-primary">
            Tomorrow
            <div class="container">
                @foreach (var trip in Model.TomorrowTrips)
                {
                    <div class="col mt-4">
                        <div class="card">
                            <img src="https://img.freepik.com/free-vector/road-trip-summer-vacation-holidays-travel-by-car_107791-2152.jpg?size=626&ext=jpg" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h5 class="card-title">@trip.Name</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">From: @trip.From</li>
                                    <li class="list-group-item">To: @trip.To</li>
                                    <li class="list-group-item">Seats: @trip.AvailableSeats</li>
                                </ul>
                                <a asp-controller="Trips" asp-action="Details" asp-route-tripId="@trip.Id" class="btn btn-primary">Info</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>