@using Tripsters.Web.ViewModels.Trips

@model TripsUpcomingListingViewModel

@{
    ViewData["Title"] = "Upcoming trip";
}

<h1>@ViewData["Title"]</h1>

<partial name="_MyTripsMenuPartial" />

<div class="container">
    <div class="row">
        <div class="col-sm alert-danger">
            Today

            <div class="container">
                @foreach (var trip in Model.TodayTrips)
                {
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                @trip.Name
                            </h3>

                            <h5 class="card-text">
                                Creator: @trip.CreatorName
                            </h5>

                            <p class="card-text">
                                From: @trip.From
                            </p>

                            <p class="card-text">
                                To: @trip.To
                            </p>
                            @if (trip.Description != null)
                            {
                                <p class="card-text">
                                    Description: @trip.Description
                                </p>
                            }
                            <p class="card-text">
                                Date and Time @trip.StartDate
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm alert-primary">
            Tomorrow
            <div class="container">
                @foreach (var trip in Model.TomorrowTrips)
                {
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                @trip.Name
                            </h3>

                            <h5 class="card-text">
                                Creator: @trip.CreatorName
                            </h5>

                            <p class="card-text">
                                From: @trip.From
                            </p>

                            <p class="card-text">
                                To: @trip.To
                            </p>
                            @if (trip.Description != null)
                            {
                                <p class="card-text">
                                    Description: @trip.Description
                                </p>
                            }
                            <p class="card-text">
                                Date and Time @trip.StartDate
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm alert-success">
            Future

            <div class="container">
                @foreach (var trip in Model.TheDayAfterTrips)
                {
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                @trip.Name
                            </h3>

                            <h5 class="card-text">
                                Creator: @trip.CreatorName
                            </h5>

                            <p class="card-text">
                                From: @trip.From
                            </p>

                            <p class="card-text">
                                To: @trip.To
                            </p>
                            @if (trip.Description != null)
                            {
                                <p class="card-text">
                                    Description: @trip.Description
                                </p>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>