@using Tripsters.Services.Data.Users.Models

@model UserProfileServiceModel

@{
    ViewData["Title"] = $"{@Model.UserName} Photos";
}

<div class="row py-5 px-4">
    <div class="col-md-12 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden m-sm-auto">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        @if (Model.ProfilePictureUrl == null)
                        {
                            <img src="/profilePic.png" alt="profile-picture" />
                        }
                        else
                        {
                            <img src="@Model.ProfilePictureUrl" alt="@Model.UserName" width="130" class="rounded mb-2 img-thumbnail">
                        }

                        @if (User.Identity.Name == Model.UserName)
                        {
                            <a asp-controller="Users" asp-action="Edit" asp-route-userId="@Model.Id" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                        }
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">@Model.UserName</h4>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Photos.Count</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Friends.Count</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Friends</small>
                    </li>
                </ul>
            </div>
            <h5 class="ml-3">All photos</h5>
            <div class="row ml-5 mr-5 mt-5 mb-5">
                @foreach (var photo in Model.Photos)
                {
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="@photo.Url" class="img-fluid rounded shadow-sm"></div>
                }
            </div>

            @if (Model.UserName == User.Identity.Name)
            {
                <div class="form-control-file ml-5 mt-5">

                    <form method="post" enctype="multipart/form-data" asp-controller="Users" asp-action="UploadPhoto">
                        <span>Select File:</span>
                        <input type="file" name="postedFiles" multiple />
                        <input name="userId" value="@Model.Id" hidden />
                        <input class="btn btn-outline-dark" type="submit" value="Upload" />
                        <br />
                        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                    </form>
                </div>
            }
        </div>
    </div>
</div>

