@using Tripsters.Services.Data.Users.Models

@model UserProfileServiceModel

@{
    ViewData["Title"] = $"{User.Identity.Name} Profile";
}

<div class="row py-5 px-4">
    <div class="col-md-12 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden m-sm-auto">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        @if (Model.ProfilePictureUrl == null)
                        {
                            <img src="/profilePic.png" alt="profile-picture" />
                        }
                        else
                        {
                            <img src="@Model.ProfilePictureUrl" alt="@Model.UserName" width="130" class="rounded mb-2 img-thumbnail">
                        }

                        @if (User.Identity.Name == Model.UserName)
                        {
                            <a asp-controller="Users" asp-action="Edit" asp-route-userId="@Model.UserId" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                        }
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">@Model.UserName</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                @if (this.User.Identity.Name != Model.UserName && !Model.Friends.Any(f => f.UserName == this.User.Identity.Name))
                {
                    <a class="btn btn-outline-info mr-4" asp-controller="Users" asp-action="AddFriend" asp-route-friendUserId="@Model.UserId">Add Friend</a>
                }
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Photos.Count</h5><small class="text-muted">
                            <i class="fas fa-image mr-1"></i>
                            <a asp-controller="Users" asp-action="AllPhoto" asp-route-userId="@Model.UserId">Photos</a>
                        </small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Friends.Count</h5><small class="text-muted">
                            <i class="fas fa-image mr-1"></i>
                            <a asp-controller="Users" asp-action="MyFriends" asp-route-userId="@Model.UserId">Friends</a>
                        </small>
                    </li>
                </ul>
            </div>
            @if (Model.Badges.Count != 0)
            {
                <div class="px-4 py-3">

                    <h5 class="mb-0">Badges</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        @foreach (var badge in Model.Badges)
                        {
                            <h3><span class="badge bg-transparent">@badge.Name</span></h3>
                        }
                    </div>
                </div>
            }
            <div class="py-4 px-4 mb-4 text-center">
                <h2 class="mb-0">Friends</h2>
                <div class="d-flex align-items-center justify-content-between mb-3">
                </div>
                <div class="row">
                    @foreach (var friend in Model.Friends)
                    {
                        <div class="card text-center col-3 mr-4" style="width: 18rem;">
                            <img src="@friend.ProfilePictureUrl" class="card-img-top" alt="@friend.UserName @friend.Age">
                            <div class="card-body">
                                <h5 class="card-title"><a asp-controller="Users" asp-action="Profile" asp-route-userId="@friend.Id"> @friend.UserName</a></h5>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

