@using Microsoft.AspNetCore.Identity

@using Tripsters.Data.Models
@using Tripsters.Services.Data.Users.Models

@model UserProfileServiceModel
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = $"{User.Identity.Name} Profile";

    int maxLength = 4;

    var photos = Model.Photos.ToList();

    if (photos.Count < 4)
    {
        maxLength = photos.Count;
    }

}

<div class="row py-5 px-4">
    <div class="col-md-12 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden m-sm-auto">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        @if (Model.ProfilePictureUrl == null)
                        {
                            <img src="/profilePic.png" alt="profile-picture" />
                        }
                        else
                        {
                            <img src="@Model.ProfilePictureUrl" alt="@Model.UserName" width="130" class="rounded mb-2 img-thumbnail">
                        }

                        @if (User.Identity.Name == Model.UserName)
                        {
                            <a asp-controller="Users" asp-action="Edit" asp-route-userId="@Model.UserId" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                        }
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">@Model.UserName</h4>
                        @if (Model.Town != null)
                        {
                            <p class="float-right" style="color:white">Town: @Model.Town</p>
                        }

                        @if (Model.PhoneNumber != null)
                        {
                            <p class="float-right mr-3" style="color:white">Phone Number: @Model.PhoneNumber</p>
                        }

                        @if (Model.Age != 0)
                        {
                            <p class="float-right mr-3" style="color:white">Age: @Model.Age</p>
                        }
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                @if (this.User.Identity.Name != Model.UserName && !Model.Friends.Any(f => f.UserName == this.User.Identity.Name))
                {
                    <a class="btn btn-outline-info mr-4" asp-controller="Friends" asp-action="Add" asp-route-friendUserId="@Model.UserId">Add Friend</a>
                }
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.TotalPhotos</h5><small class="text-muted">
                            <i class="fas fa-image mr-1"></i>
                            <a asp-controller="Photos" asp-action="All" asp-route-userId="@Model.UserId">Photos</a>
                        </small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Friends.Count</h5><small class="text-muted">
                            <i class="fas fa-image mr-1"></i>
                            <a asp-controller="Friends" asp-action="MyFriends" asp-route-userId="@Model.UserId">Friends</a>
                        </small>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                @if (Model.UserBadges.Count != 0)
                {
                    <div class="p-4 rounded shadow-sm bg-light">
                        <h5 class="mb-0">Badges</h5>
                        @foreach (var badge in Model.UserBadges)
                        {
                            <h3><span class="badge bg-transparent">@badge.Name</span></h3>
                        }
                    </div>
                }
                @if (User.Identity.Name != Model.UserName && !Model.UserBadges.Any(b => b.AdderId == UserManager.GetUserId(User)))
                {
                    <form asp-controller="Users" asp-action="AddBadge" method="post">
                        <label asp-for="UserBadges"></label>
                        <select name="badgeId" class="form-control">
                            @foreach (var badge in Model.AllBadges)
                            {
                                <option value="@badge.Id">@badge.Name</option>
                            }
                        </select>
                        <select name="userId" class="form-control" hidden>
                            <option value="@Model.UserId"></option>
                        </select>
                        <select name="userWhoAddId" class="form-control" hidden>
                            <option value="@UserManager.GetUserId(User)"></option>
                        </select>
                        <button class="btn btn-outline-dark" type="submit">Add</button>
                    </form>
                }
            </div>
            @if (Model.Photos.Count == 0)
            {
                @if (Model.UserName == User.Identity.Name)
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="Photos" asp-action="Upload">
                        <span>Select File:</span>
                        <input type="file" name="postedFiles" multiple />
                        <input name="userId" value="@Model.UserId" hidden />
                        <input class="btn btn-outline-dark" type="submit" value="Upload" />
                        <br />
                        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                    </form>
                }
                else
                {
                    <p>There is no photo yet.</p>
                    @if (Model.UserName == User.Identity.Name)
                    {
                        <div class="form-control-file ml-5 mt-5">

                            <form method="post" enctype="multipart/form-data" asp-controller="Photos" asp-action="Upload">
                                <span>Select File:</span>
                                <input type="file" name="postedFiles" multiple />
                                <input name="userId" value="@Model.UserId" hidden />
                                <input class="btn btn-outline-dark" type="submit" value="Upload" />
                                <br />
                                <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                            </form>
                        </div>
                    }
                }
            }
            else
            {
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0"><a style="color:black" asp-controller="Photos" asp-action="All" asp-route-userId="@Model.UserId">Recent Photos</a></h5>
                        <h5><a style="color:black" asp-controller="Trips" asp-action="RecentTrips">Recent Trips</a></h5>

                    </div>
                    <div class="row">
                        @for (int i = 0; i < maxLength; i++)
                        {
                            <div class="col-lg-6 mb-2 pr-lg-1"><img src=@photos[i].Url class="img-fluid rounded shadow-sm"></div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    <div class="toast-header">
        <img src="..." class="rounded mr-2" alt="...">
        <strong class="mr-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>